@font-face {
    font-family: "BEER";
    src: url("../assets/fonts/BEER.TTF");
}

$font-beer: "BEER";

@font-face {
    font-family: "Rubik";
    src: url("../assets/fonts/Rubik_Moonrocks/RubikMoonrocks-Regular.ttf");
}

$font-rubik: "Rubik";

@font-face {
    font-family: "Simonetta";
    src: url("../assets/fonts/Simonetta/Simonetta-Regular.ttf");
}

$font-text: "Simonetta";

@font-face {
    font-family: "Poppins";
    src: url("../assets/fonts/Poppins/Poppins-Light.ttf");
}

$font-text-2: "Poppins";